<!-- Hero Section -->
<section class="hero-section text-center py-5 text-white">
  <div>
    <h1 class="m-5">Bienvenido a Redes que Cambian</h1>
      <div>
        <p>Conoce y apoya a diversas organizaciones sociales en México</p>
        <a class="btn btn-lg btn-outline-light me-2" href="organizations">Explorar Organizaciones</a>
        <a class="btn btn-lg btn-outline-light" href="projects">Explorar Proyectos</a>
      </div>
  </div>  
</section>

<!-- Causas Section -->
<section class="services section-padding my-5" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Causas que se están apoyando</h2>
          <p>Lorem ipsum dolor sit amet, consectetur<br>
          adipisicing elit. Non, quo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="fa-solid fa-book my-2"></i>
            <h3 class="card-title my-3">Best Quality</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="fa-solid fa-handshake-angle my-2"></i>
            <h3 class="card-title my-3">Sustainability</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="fa-solid fa-house my-2"></i>
            <h3 class="card-title my-3">Integrity</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section Ends -->
  <!-- Causas Section -->
  <!-- <section class="causes-section container my-5">
    <h2 class="text-center mb-4">Causas que se están apoyando</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100 animate__animated animate__fadeInDown">
          <img src="orgEX.jpg" class="card-img-top" alt="imagenEjemplo">
          <div class="card-body">
            <h5 class="card-title">Titulo ejemplo</h5>
            <p class="card-text">Descripcion ejemplo</p>
          </div>
        </div>
      </div>
    </div>
  </section>
   -->
  <!-- Testimonios Carousel
  <section class="testimonials-section bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-4">Testimonios</h2>
      <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <div class="text-center">
              <p>"ejemplo testimonial"</p>
              <h5>- autor testimonial</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   -->