# ============================================
# Gitignore para Proyectos Python (Django)
# ============================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Estos archivos suelen ser generados por PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# Para proyectos que utilizan pyenv
# .python-version

# pipenv
# Pipfile.lock (comentado si prefieres incluirlo)
# Pipfile.lock

# poetry
# poetry.lock (comentado si prefieres incluirlo)
# poetry.lock

# pdm
# pdm.lock (comentado si prefieres incluirlo)
# pdm.lock
# Configuraciones de PDM
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; usado por pyflow y pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
# Ignorar la carpeta .idea de PyCharm
.idea/

# ============================================
# Gitignore para Proyectos Angular
# ============================================

# Compiled output
/dist
/tmp
/out-tsc
/.angular
/cache
/deps
/vite
# @angular files and chunk files
*.js
*.js.map

# Dependency directories
/node_modules
/bower_components

# IDEs y editores
/.vscode
/.history

# Logs
/*.log
/*.tmp
/*.swp
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Caché de npm
.npm

# Caché de ESLint
.eslintcache

# Caché de Stylelint
.stylelintcache

# TypeScript
*.tsbuildinfo

# Variables de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos del sistema
.DS_Store
Thumbs.db

# ============================================
# Gitignore General
# ============================================

# Archivos y carpetas generados por el sistema
*.bak
*.tmp
*.swp
*.swo
*.swn

# Archivos de configuración específicos del entorno
*.env
