<section class="container my-5">
    <h2 class="text-center mb-4">Organizaciones</h2>
    <div class="row">
      <div class="col-md-4 mb-4"> 
        <!-- aqui va el for -->
        <!-- <div class="card h-100">
          <img src="orgEX.jpg" alt="nombreimg">
          <div class="card-body">
            <h5 class="card-title">Ejemplo nombre org</h5>
            <p class="card-text">Ejemplo descripción org</p> -->
            <!-- <a [routerLink]="['/organizations', organization.id]" class="btn btn-primary">Ver más</a> -->
          <!-- </div>
        </div> -->
        <div class="box text-center">
					<img alt="" src="orgEX.jpg">
          <h3 class="m-3">Ejemplo nombre</h3>
					<div class="overlay">
						<h3>Ejemplo nombre</h3>
						<p>Descripción</p>
            <a class="btn btn-light" href="organizationsexample">Más información</a>
					</div>
				</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="box text-center">
					<img alt="" src="orgEX.jpg">
          <h3 class="m-3">Ejemplo nombre</h3>
					<div class="overlay">
						<h3>Ejemplo nombre</h3>
						<p>Descripción</p>
            <a class="btn btn-light" href="#">Más información</a>
					</div>
				</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="box text-center">
					<img alt="" src="orgEX.jpg">
          <h3 class="m-3">Ejemplo nombre</h3>
					<div class="overlay">
						<h3>Ejemplo nombre</h3>
						<p>Descripción</p>
            <a class="btn btn-light" href="#">Más información</a>
					</div>
				</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="box text-center">
					<img alt="" src="orgEX.jpg">
          <h3 class="m-3">Ejemplo nombre</h3>
					<div class="overlay">
						<h3>Ejemplo nombre</h3>
						<p>Descripción</p>
            <a class="btn btn-light" href="organizationsexample">Más información</a>
					</div>
				</div>
      </div>
    </div>
  </section>
  