<section class="container my-5">
    <h2 class="text-center mb-4">Proyectos</h2>
    <div class="row">
      <div class="col-md-4 mb-4" >
        <!-- <div class="card h-100">
          <img src="orgEX.jpg" class="card-img-top" alt="nombreimgej">
          <div class="card-body">
            <h5 class="card-title">ejemplo titulo proyecto</h5>
            <p class="card-text">ejemplo descprición proyecto</p> -->
            <!-- <a [routerLink]="['/projects', project.id]" class="btn btn-primary">Ver más</a> -->
          <!-- </div>
        </div> -->
        
          <div class="box text-center">
            <img alt="" src="orgEX.jpg">
            <h3 class="m-3">Ejemplo titulo proyecto</h3>
            <div class="overlay">
              <h3>Ejemplo titulo proyecto</h3>
              <h4>Organización</h4>
              <p>Descripción proyecto</p>
              <a class="btn btn-light" href="projectsexample">Más información</a>
            </div>
          </div>
        
      </div>
    </div>
  </section>
  