<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5">
                <h1 class="text-center">Organización</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="orgEX.jpg" class="img-fluid" alt="imagenEjemplo">
            </div>
            <div class="col-md-6">
                <!-- <h2>Nombre de la organización</h2> -->
                <p>Descripción de la organización</p>
                <p>Ubicación: Ciudad, Estado</p>
                <p>Correo:</p>
                <p>Teléfono:</p>
                <p>Redes sociales:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <h2 class="text-center">Proyectos</h2>
                            
            </div>
            <!-- mini gallery of proyects -->
                        <!-- <div class="col-md-4 mb-4" >
                            <div class="card">
                                <img src="orgEX.jpg" class="card-img-top" alt="Project Image">
                                <div class="card-body">
                                    <h5 class="card-title">Nombre proyecto</h5>
                                    <p class="card-text">descripción proyecto</p>
                                    <a class="btn btn-primary">Ver Proyecto</a>
                                </div>
                            </div>
                        </div>
             -->
             <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4">
                        <div class="card mx-auto my-5">
                            <img src="orgEX.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Client Name</h5>
                  <hr>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p><!-- lorem30 -->
                  <a href="projectsexample" class="btn btn-dark">Learn More</a>
                </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card mx-auto my-5">
                            <img src="orgEX.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Client Name</h5>
                  <hr>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p>
                  <a href="#" class="btn btn-dark">Learn More</a>
                </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card mx-auto my-5">
                            <img src="orgEX.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Client Name</h5>
                  <hr>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam non facilis, sit reiciendis aspernatur veniam! Eligendi optio architecto, est similique ad sed? Eius ducimus eos perferendis possimus sint. Sequi, blanditiis!</p>
                  <a href="#" class="btn btn-dark">Learn More</a>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>